.env
.env.*
!.env.example

.DS_Store
Thumbs.db
.vs/
.idea/
.fleet/
*.swp
*.lut
*.cache
*.log
DoubleWrite.Locks

backend/**/bin/
backend/**/obj/
backend/**/build/
backend/**/out/
backend/**/TestResults/
backend/**/*.exe
backend/**/*.dll
backend/**/*.user
backend/**/*.suo
backend/**/*.userosscache
backend/**/*.sln.docstates
backend/**/appsettings.Development.json
backend/**/appsettings.local.json

frontend/node_modules/
frontend/logs/

frontend/.output/
frontend/.data/
frontend/.nuxt/
frontend/.nitro/
frontend/.cache/
frontend/dist/